*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: black;
    line-height: 1.6;
    background-image: url(../img/background.jpg);
    
}

img {
    max-width: 100%;
    display: block;
}

input{
    width: 80%;
    padding: .5em;
    font-family: inherit;
    border-radius: .5em;
    border: 0;
}


form > *{
    /* display: block; */
    margin: 0 auto;
    /* text-align: left; */
}

.logo{
    padding: 1em;
    width: 200px;
}

/* form{
    
} */

/* main {
    width: 40%;
    margin: 0 auto;
} */

.second{
    /* width: 100%; */
    flex-basis: 100%;
    background: #618DF8;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 2em 2em;
    padding: 1em;
}


.phonebooth{
    /* object-fit: cover;
    object-position: center; */
    flex-basis: 15.417em;
    /* width: 100%; */
    width: 100%;
    min-width: 0;
    min-height: 0;
    background-image: url(../img/phone.jpg);
    border-radius: 2em 2em 0 0;
    background-size: 400px 300px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5em;
}

.network {
    margin-top: 2em;
    justify-content: space-around;
    width: 100%;
}

form {
    margin: 2em auto 1.2em;
    flex-direction: column;

    /* justify-content: center; */
    align-items: flex-start;
}

/* form>* {
    /* display: block; */
    /* margin: 0 auto; */
    /* text-align: left;
} */


label {
    text-align: left;
}

.network-img{
    width: 2em;
    border-radius: 50%;
    height: 2em;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    
}

.glo,
.etisalat{
    margin: 0 .1em;
}

.mtn{
    margin-right: .1em;
}

.airtel{
    margin-left: .1em;
}

.flex {
    display: flex;
}

.flex-container {
    flex-direction: column;
    border: 1px solid magenta;
    /* padding: 1.2em; */
    /* background: #618DF8; */
    border-radius: 2em;
    width: 60%;
    height: 500px;
    min-width: 400px;
    
}

.container {
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 0 auto; */
    
   
}

footer > p {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

.glow {
    box-shadow: 0px 0px 0.1563em 0.2604em #f2e1f2;
    transform: scale(1.4);
    transition: transform 250ms;
}

 .warning {
     margin-top: .8em;
     display: inline-block;
     /* position: absolute; */
     color: red;

 }
 

@media (min-width: 600px) {
    .flex-container{
        flex-direction: row;
        max-width: 900px;
        /* width: 80%; */
    }
    .network{
        margin-top: 0;
    }
    .second{
        padding: 1em;
        margin: auto auto;
        border-radius: 0 2em 2em 0;
    }
    .container {
        /* width: 70%; */
        /* max-width: 800px; */
        min-height: 100vh;
    }
    .phonebooth{
        border-radius: 2em 0 0 2em;
        background-size: 500px 500px;
    }
    .network-img{
        height: 3.5em;
        width: 3.5em;
    }
    .glo,
    .etisalat {
        margin: 0 .2em;
    }

    .mtn {
        margin-right: .2em;
    }

    .airtel {
        margin-left: .2em;
    }
    form {
        margin: 3em 0 0;
    }

    .warning {
        margin-top: .8em;
        display: inline-block;
        /* position: absolute; */
        
    }
}
